$padding: 10px;

body {
  margin: 0;
  font-family: 'Red Hat Display', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.title {
  font-size: 1.5em;
  font-weight: bold;
}

.spaced {
  margin-bottom: 10px;
}

.relative {
  position: relative;
}

.padded {
  padding: $padding $padding 0 $padding;
  box-sizing: border-box;
}

.cursor {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: $padding;
  box-sizing: border-box;
}

.max-height {
  height: 100%;
}